.individual-url {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  max-width: 450px;
  margin: 20px auto;
  box-shadow: 5px 5px rgba(0, 0, 0, .8);
  border-radius: 3px;
  height: 100px;
}

@media (max-device-width: 400px) {
  .individual-url {
    margin: 20px 5px;
  }
}

.original-url-container {
  margin-top: 20px;
}

.copy-button {
  /* width: 125px; */
  /* height: 20px; */
}

.short-url-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

/* original-url-container p styles are located in App.css */