.create-url-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.create-url-container input {
  width: 40%;
  height: 15px;
  max-width: 700px;
  min-width: 270px;
  margin-top: 8px;
}

.create-url-error {
  color: red;
  margin: 0px auto;
  max-width: 460px;
  text-align: left;
  font-size: 12px;
}