.registration-form-container {
  display: block;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  position: absolute;
}

.registration-form-content {
  margin: 15% auto;
  background-color: white;
  max-width: 450px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.registration-form-content input {
  width: 250px;
  margin: auto;
}

.register-button-container {
  margin-bottom: 10px;
}

.registration-button {
  width: 100px;
}

.register-button {
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  box-shadow: none;
}

.register-button:hover {
  color: #cb4ed9;
  background-color: rgba(255, 255, 255, 0.0);
}

.reg-error {
  color: red;
  margin: 0px;
}