.login-container {
  /* margin-right: 10px; */
}

.login-container input {
  margin: 5px;
}

.logout-container {
  margin: 10px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout-container p {
  margin-left: 10px;
}

.login-submit {
  /* border: none; */
  background-color: #ebba34;
  margin: 10px;
}

.login-submit:hover {
  cursor: pointer;
  color: white;
}