.login-container input {
  margin: 5px;
}

.logout-container {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.unpw-validation-error{
  color: red;
  margin: 0px 0px 0px 5px;
  text-align: left;
  font-size: 10px;
}