.App {
  text-align: center;
}

p {
  font-weight: bold;
}

.logged-out-content img {
  margin-top: 10vh;
  max-width: 450px;
}

.url-validation-error{
  color: red;
  margin: 0px;
  font-size: 10px;
  font-weight: bold;
}

.logged-out-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, .9);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.logged-in-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, .9);
  width: 100%;
}

.logged-out-content {
  background-color: rgba(255, 255, 255, 0.7);
  height: 100vh;
}

.logged-in-content {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
  height: 100vh;
}

.header-logo {
  margin-left: 10px;
  height: 20px;
}

.header-login-register {
  display: flex;
}

.long-input {
  width: 50%;
  max-width: 700px;
}

.original-url-container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 30vw;
  margin: auto;
}

button {
  background-color: #cb4ed9;
  margin: 10px;
  border: none;
  box-shadow: 2px 2px black;
  border-radius: 2px;
}

button:hover {
  cursor: pointer;
  background-color: white;
}